* {
  box-sizing: border-box;
}

.search-container input:focus + .suggestions ul {
 /* TODO */
 display: block;
}

body {
  /* TODO */
}

input {
 /* TODO */
    /* width: 450px;
    height: 50px;
    display: flex;
    background-color: rgba(250, 250, 250, 0.20);
    border: none;
    outline: none; */
    position: absolute;
}

.search-container {
 /* TODO */
 width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, red, yellow);
}
.search-container input,
.search-container .suggestions {
  /* TODO */
  position: relative;
  display: inline-block;
  /* margin-top: 5px; */

  /* cursor: pointer; */
}
.search-container input {
 /* TODO */
 width: 450px;
 height: 50px;
 display: flex;
 background-color: rgba(250, 250, 250, 0.20);
 border: none;
 outline: inset 1px red;
 border-bottom: solid 1px orangered;
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
  /* list-style: none; */
  display: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.20);
  z-index: 1;
  
}
ul li {
  /* TODO */
  padding: 8px 16px;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
ul li:hover {
  /* TODO */
  background-color: orangered;
  font-weight: bold;
}

input {
   /* TODO */
}